.App {
  text-align: center;
}
* {
  direction: rtl;
}
@font-face {
  font-family: "kolli";
  src: url("./components/stuffs/IRAN\ Sans\ Regular.ttf");
}
body {
  font-family: kolli;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}
/* *******************navbar********************** */
.navbarFont {
  background-color: #f7f7f7;
  color: #58595b !important;
  font-size: 20px;
  font-weight: 600;
}
#logo {
  width: 110px;
  height: 40px;
  margin-right: 70px;
  margin-left: 50px;
}
/* *******************end of navbar********************** */

/* *******************card********************** */
.timeline {
  justify-content: center;
  align-items: center;
  margin: 20pt;
}

.timeline > div {
  margin: 0 0.3rem 1rem 0.3rem;
  text-align: center;
}
.card {
  /* padding: 10px; */
  transition: all 0.3s ease-in-out;
}
.card:hover {
  transform: scale(1.1);
}
#delete {
  background-color: red;
  color: #f7f7f7;
  width: fit-content;
  height: fit-content;
  border-radius: 3px;
  border: none;
}
/* *******************end of card********************** */
/* *******************footer********************** */
.socials {
  border: solid 1px;
  margin: 5px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}
/* *******************end of footer********************** */
/* *******************about********************** */
#aboutImg {
  width: 100%;
  height: 60vh;
  filter: brightness(40%);
}
#aboutText {
  position: absolute;
  top: 10vh;
  right: 5vw;
}
#aboutImgContainer {
  position: relative;
  text-align: center;
  color: white;
}
#aboutData {
  max-width: 80%;
  margin: 0 auto;
}
hr {
  width: 30%;
  margin: 10pt 35%;
  border-top: 3px solid #f48120;
}
#aboutData > h2 {
  padding-top: 20px;
}
.serviceContain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 20pt auto;
}

@media only screen and (max-width: 700px) {
  .serviceContain {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.services {
  margin: 0 1rem 0.5rem;
  background-color: #d2d5dc;
  border-radius: 8px;
  height: 100%;
}
.serviceImg {
  width: 100%;
  transition: all 0.4s ease;
  overflow: hidden;
}
.serviceImg:hover {
  transform: scale(1.05);
}
#contactContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.flex {
  display: flex;
  margin: 20pt;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.flex > div {
  margin: 0 1rem 1rem 0.5rem;
  text-align: center;
}
/* *******************end of about********************** */
/* *******************details********************** */
#detailsContainer {
  margin: 10pt;
}
#detailsContainer > h2 {
  color: #58595b;
}
/* *******************end of details********************** */
